<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login User | Artist Management System</title>
    <link rel="stylesheet" href="../login/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="auth-wrapper">
        <form class="auth-form" method="POST">
          <h2 class="auth-title">Artist Management System</h2>
          <!-- Email -->
          <div class="auth-form__group">
            <label class="auth-form__group-label" for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              class="form-control"
              autofocus
            />
          </div>

          <!-- Password -->
          <div class="auth-form__group">
            <label class="auth-form__group-label" for="password"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
            />
          </div>

          <!-- Submit Button -->
          <button class="auth-form__cta" type="submit">Login</button>
        </form>
      </div>
    </div>
    <script type="module" src="../../main.ts"></script>
    <script type="module" src="./script.ts"></script>
  </body>
</html>
