.user-detail-header {
  border-bottom: 1px solid var(--bg-grey);
  padding: 0 1rem;
}

.user-detail {
  padding: 1rem;
  font-size: 1.6rem;
}

.user-detail__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 1rem;
}

.user-detail__info p {
  color: rgb(58 58 58);
}

.user-detail__info strong {
  color: var(--dark);
  font-weight: 600;
}

#user-delete {
  padding: 1rem;
}

.user-detail__cta {
  border-top: 1px solid var(--bg-grey);
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.user-detail__cta a {
  padding: 0.6rem 1rem;
}
