.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form {
  border-radius: var(--radius);
  padding: 1rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.auth-title {
  text-align: center;
  font-size: 2.3rem;
  padding: 1rem 4rem;
  padding-bottom: 1rem;
  color: var(--brand-secondary);
  border-bottom: 1px solid var(--bg-grey);
}

.auth-form__group {
  width: 100%;
}

.auth-form__group-label {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.2rem;
  font-weight: 400;
}

.auth-form__cta {
  width: 100%;
  background-color: var(--brand-secondary);
  color: var(--white);
  padding: 1rem;
  margin-top: 0.5rem;
}

.auth-form__nested {
  display: flex;
  gap: 1rem;
}
