.edit-form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 15rem);
  padding: 0 1.5rem;
}

.user-edit-header {
  border-bottom: 1px solid var(--bg-grey);
  margin-bottom: 0.5rem;
  text-align: center;
}

.edit-form {
  background-color: var(--white);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}

.edit-form__group {
  width: 100%;
}

.edit-form__nested {
  display: flex;
  gap: 1rem;
}

.edit-form__group-label {
  font-size: 1.4rem;
}

.edit-form__cta {
  padding: 1rem;
}
