@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --white: #fff;
  --dark: #222;
  --radius: 4px;
  --bg-grey: #e2e2e5;
  --input-border: #c9c9c9;
  --brand-primary: #2b4141;
  --brand-secondary: #0eb1d2;
  --brand-tertiary: #34e4ea;
  --secondary-hover: #0b9cb9;
  --transit: all 0.2s linear;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
  background-color: var(--bg-grey);
  font-family: Poppins, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  border: 0;
  transition: var(--transit);
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: var(--radius);
}

.form-control {
  outline: 0;
  font-family: inherit;
  width: 100%;
  padding: 0.8rem 0.6rem;
  border-radius: var(--radius);
  border: 1px solid var(--bg-grey);
  letter-spacing: 0.4px;
  background-color: var(--white);
}

.form-control:focus {
  border-color: var(--secondary-hover);
}
