<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup User | Artist Management System</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <div class="auth-wrapper">
        <form class="auth-form" method="POST">
          <h2 class="auth-title">Artist Management System</h2>
          <div class="auth-form__nested">
            <!-- First Name -->
            <div class="auth-form__group">
              <label class="auth-form__group-label" for="email"
                >First Name</label
              >
              <input
                type="text"
                name="email"
                autofocus
                id="email"
                class="form-control"
              />
            </div>

            <!-- Last Name -->
            <div class="auth-form__group">
              <label class="auth-form__group-label" for="email"
                >Last Name</label
              >
              <input type="text" name="email" id="email" class="form-control" />
            </div>
          </div>

          <!-- Email -->
          <div class="auth-form__group">
            <label class="auth-form__group-label" for="email">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              class="form-control"
              autofocus
            />
          </div>

          <!-- Password -->
          <div class="auth-form__group">
            <label class="auth-form__group-label" for="password"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
            />
          </div>

          <div class="auth-form__nested">
            <!-- Phone -->
            <div class="auth-form__group">
              <label class="auth-form__group-label" for="password"
                >Phone Number (+977)</label
              >
              <input
                type="number"
                name="phone"
                id="phone"
                class="form-control"
              />
            </div>

            <!-- DOB -->
            <div class="auth-form__group">
              <label class="auth-form__group-label" for="password"
                >Date of Birth (AD)</label
              >
              <input type="date" name="dob" id="dob" class="form-control" />
            </div>
          </div>

          <div class="auth-form__nested">
            <!-- Gender -->
            <div class="auth-form__group">
              <label class="auth-form__group-label" for="password"
                >Gender</label
              >
              <select name="gender" id="gender" class="form-control">
                <option value="m">Male</option>
                <option value="f">Female</option>
                <option value="o">Others</option>
              </select>
            </div>

            <!-- Address -->
            <div class="auth-form__group">
              <label class="auth-form__group-label" for="password"
                >Address</label
              >
              <input
                type="text"
                name="address"
                id="address"
                class="form-control"
              />
            </div>
          </div>

          <!-- Submit Button -->
          <button class="auth-form__cta" type="submit">Signup</button>
        </form>
      </div>
    </div>
    <script type="module" src="../../main.ts"></script>
    <script type="module" src="./script.ts"></script>
  </body>
</html>
